<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Visualización de Datos
    </ion-title>
  </ion-toolbar>
  <ion-button (click)="generarPDF()">Generar PDF</ion-button>
</ion-header>

<ion-content>

  <div #container>
    <div class="dashboard-content">
      <div class="seccion header">
        <h1>Dashboard</h1>
       
      </div>
      <div class="seccion">
        <ion-row>
          <ion-col size="3">
            <app-bar-chart  [backgroundColorCategorias]="backgroundColorCat" [borderColorCategorias]="borderColorCat" ></app-bar-chart>
          </ion-col>
          <ion-col size="3">
          <!--En el segmento "Line-Chart" mostraremos únicamente su correspondiente gráfica-->
             
             <app-pie-chart  size="3"></app-pie-chart>
          </ion-col>
          <ion-col size="3">
            <!--En el segmento "Pie-Chart" mostraremos únicamente su correspondiente gráfica-->
            <app-line-chart  size="3"></app-line-chart>
          </ion-col>
      </ion-row>
      </div>
   
      
      <div class="table-container">
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
      <div class="seccion list-container">
        <h2>List</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>
      <div class="table-container">
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
      <div class="seccion">
        <ion-row>
          <ion-col >
            <app-bar-chart  [backgroundColorCategorias]="backgroundColorCat" [borderColorCategorias]="borderColorCat"></app-bar-chart>
          </ion-col>
          <ion-col >
          <!--En el segmento "Line-Chart" mostraremos únicamente su correspondiente gráfica-->
             
             <app-pie-chart ></app-pie-chart>
          </ion-col>
          <ion-col >
            <!--En el segmento "Pie-Chart" mostraremos únicamente su correspondiente gráfica-->
            <app-line-chart ></app-line-chart>
          </ion-col>
      </ion-row>
      </div>
   
      
      <div class="table-container">
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
      <div class="seccion list-container">
        <h2>List</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>
      <div class="table-container">
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
      
    </div>
    
  </div>

  
</ion-content>